@font-face {
  font-family: 'Segoe UI';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Segoe UI'), url('/fonts/SegoeUI.woff2') format('woff2'),
    url('/fonts/SegoeUI.woff') format('woff'),
    url('/fonts/SegoeUI.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Segoe UI Semibold'),
    url('/fonts/SegoeUI-Semibold.woff2') format('woff2'),
    url('/fonts/SegoeUI-Semibold.woff') format('woff'),
    url('/fonts/SegoeUI-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local('Segoe UI Bold'),
    url('/fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('/fonts/SegoeUI-Bold.woff') format('woff'),
    url('/fonts/SegoeUI-Bold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
