@font-face {
  font-family: 'Segoe UI';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Segoe UI'), url('/fonts/SegoeUI.woff2') format('woff2'),
    url('/fonts/SegoeUI.woff') format('woff'),
    url('/fonts/SegoeUI.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Segoe UI Semibold'),
    url('/fonts/SegoeUI-Semibold.woff2') format('woff2'),
    url('/fonts/SegoeUI-Semibold.woff') format('woff'),
    url('/fonts/SegoeUI-Semibold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body main {
  @apply overflow-x-hidden;
}

#citaty .swiper-pagination {
  @apply static;
}

#citaty .swiper-pagination .swiper-pagination-bullet {
  @apply h-4 w-4 bg-secondary opacity-100;
}

#citaty .swiper-pagination .swiper-pagination-bullet-active {
  @apply border-4 border-white bg-primary;
}
